[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "YTAnalytics"]
	path = YTAnalytics
	url = https://github.com/davisj95/ytanalytics
